{% extends 'default/header.html.twig' %}
{% block content %}
    <!--about-->
    <section id="about" class="bwt-about text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><img src="images/bitcoin-640.png" class="img-responsive" alt=""></div>
                <div class="col-md-6">
                    <h1 class="bwt-section-title text-uppercase">ABOUT BITCOIN Trade</h1>
                    <hr>
                    <h2>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</h2>
                    <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla quis lorem ut libero malesuada feugiat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada.</p>
                </div>
            </div>
        </div>
    </section>
    <!--//about-->

    <!--Buy Rate-->
    <section id="buyrate" class="bwt-buyrate text-center">
        <div class="container text-center">
            <h1 class="bwt-section-title text-uppercase">BUYING RATES</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="bdr">
                        <h2>Buy Bitcoin</h2>
                        <div class="image"><img src="images/btc.png" class="img-responsive" alt=""></div>
                        <p>Buy Bitcoin (USD)<br>
                            $100-$500 = Rs80/USD<br>
                            $500-$2000 = Rs75/USD</p>
                        <a href="#">Buy Now!</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bdr">
                        <h2>Buy BTC-e</h2>
                        <div class="image"><img src="images/btc.jpg" class="img-responsive" alt=""></div>
                        <p>Buy Lite Coin (USD)<br>
                            $100-$500 = Rs84/USD<br>
                            $500-$2000 = Rs79/USD</p>
                        <a href="#">Buy Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//Buy Rate-->

    <!--Sell Rate-->
    <section id="sellrate" class="bwt-sellrate text-left">
        <div class="container text-center">
            <h1 class="bwt-section-title text-uppercase">SELLING RATES</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="bdr">
                        <h2>Sell Bitcoin</h2>
                        <div class="image"><img src="images/btc.png" class="img-responsive" alt=""></div>
                        <p>Sell Bitcoin (USD)<br>
                            $5-$100 = Rs60/USD<br>
                            $101-$1000 = Rs62/USD</p>
                        <a href="#">Sell Now!</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bdr">
                        <h2>Sell BTC-e</h2>
                        <div class="image"><img src="images/btc.jpg" class="img-responsive" alt=""></div>
                        <p>Sell Lite Coin (USD)<br>
                            $5-$100 = Rs58/USD<br>
                            $101-$1000 = Rs60/USD</p>
                        <a href="#">Sell Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//Sell Rate-->

    <!--contact-->
    <section id="contact" class="bwt-contact text-left">
        <div class="container text-center">
            <h1 class="bwt-section-title text-uppercase">CONTACT US</h1>
            <hr>
            <div class="row">
                <div class="col-md-4 top-marg">
                    <input name="" type="text" placeholder="Enter Your Name">
                </div>
                <div class="col-md-4 top-marg">
                    <input name="" type="text" placeholder="Enter Your Phone Number">
                </div>
                <div class="col-md-4 top-marg">
                    <input name="" type="email" placeholder="Enter Your Email ID">
                </div>
                <div class="col-md-12 top-marg-2">
                    <textarea name="" cols="" rows="3" placeholder="Enter Your Message"></textarea>
                </div>
                <div class="col-md-12 top-marg">
                    <input name="" type="submit" value="Send Message">
                </div>
            </div>
        </div>
    </section><!--about-->
    <section id="about" class="bwt-about text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><img src="images/bitcoin-640.png" class="img-responsive" alt=""></div>
                <div class="col-md-6">
                    <h1 class="bwt-section-title text-uppercase">ABOUT BITCOIN Trade</h1>
                    <hr>
                    <h2>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</h2>
                    <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla quis lorem ut libero malesuada feugiat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada.</p>
                </div>
            </div>
        </div>
    </section>
    <!--//about-->

    <!--Buy Rate-->
    <section id="buyrate" class="bwt-buyrate text-center">
        <div class="container text-center">
            <h1 class="bwt-section-title text-uppercase">BUYING RATES</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="bdr">
                        <h2>Buy Bitcoin</h2>
                        <div class="image"><img src="images/btc.png" class="img-responsive" alt=""></div>
                        <p>Buy Bitcoin (USD)<br>
                            $100-$500 = Rs80/USD<br>
                            $500-$2000 = Rs75/USD</p>
                        <a href="#">Buy Now!</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bdr">
                        <h2>Buy BTC-e</h2>
                        <div class="image"><img src="images/btc.jpg" class="img-responsive" alt=""></div>
                        <p>Buy Lite Coin (USD)<br>
                            $100-$500 = Rs84/USD<br>
                            $500-$2000 = Rs79/USD</p>
                        <a href="#">Buy Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//Buy Rate-->

    <!--Sell Rate-->
    <section id="sellrate" class="bwt-sellrate text-left">
        <div class="container text-center">
            <h1 class="bwt-section-title text-uppercase">SELLING RATES</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="bdr">
                        <h2>Sell Bitcoin</h2>
                        <div class="image"><img src="images/btc.png" class="img-responsive" alt=""></div>
                        <p>Sell Bitcoin (USD)<br>
                            $5-$100 = Rs60/USD<br>
                            $101-$1000 = Rs62/USD</p>
                        <a href="#">Sell Now!</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bdr">
                        <h2>Sell BTC-e</h2>
                        <div class="image"><img src="images/btc.jpg" class="img-responsive" alt=""></div>
                        <p>Sell Lite Coin (USD)<br>
                            $5-$100 = Rs58/USD<br>
                            $101-$1000 = Rs60/USD</p>
                        <a href="#">Sell Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//Sell Rate-->

    <!--contact-->
    <section id="contact" class="bwt-contact text-left">
        <div class="container text-center">
            <h1 class="bwt-section-title text-uppercase">CONTACT US</h1>
            <hr>
            <div class="row">
                <div class="col-md-4 top-marg">
                    <input name="" type="text" placeholder="Enter Your Name">
                </div>
                <div class="col-md-4 top-marg">
                    <input name="" type="text" placeholder="Enter Your Phone Number">
                </div>
                <div class="col-md-4 top-marg">
                    <input name="" type="email" placeholder="Enter Your Email ID">
                </div>
                <div class="col-md-12 top-marg-2">
                    <textarea name="" cols="" rows="3" placeholder="Enter Your Message"></textarea>
                </div>
                <div class="col-md-12 top-marg">
                    <input name="" type="submit" value="Send Message">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

