{% extends 'default/header.html.twig' %}
{% block custom %}
    <!--about-->
    <section id="about" class="bwt-about text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><img src="images/bitcoin-640.png" class="img-responsive" alt=""></div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-4"><img src="images/bitcoin-640.png" class="img-responsive" alt=""></div>
                <div class="col-md-4"><img src="images/bitcoin-640.png" class="img-responsive" alt=""></div>
                <div class="col-md-4"><img src="images/bitcoin-640.png" class="img-responsive" alt=""></div>
            </div>
            <div class="row">
                <div class="col-md-3"><img src="images/bitcoin-640.png" class="img-responsive" alt=""></div>
                <div class="col-md-3"><img src="images/bitcoin-640.png" class="img-responsive" alt=""></div>
                <div class="col-md-3"><img src="images/bitcoin-640.png" class="img-responsive" alt=""></div>
                <div class="col-md-3"><img src="images/bitcoin-640.png" class="img-responsive" alt=""></div>
            </div>
    </section>
{% endblock %}

