{% block footer %}
    <footer class="bwt-footer">
        <div class="container text-left">
            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <div class="icon"><i class="fa fa-map-marker"></i></div>
                    <div class="icon-text">
                        <h3>Our Location</h3>
                        <p>744 Melrose Street, Walla Walla, WA, Washington, USA
                        </p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 md-top-marg">
                    <div class="icon"><i class="fa fa-phone"></i></div>
                    <div class="icon-text">
                        <h3>Phone Numbers</h3>
                        <p>+1-509-876-7242<br>+1-509-876-7242</p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 md-top-marg">
                    <div class="icon"><i class="fa fa-envelope-o"></i></div>
                    <div class="icon-text">
                        <h3>E-Mail Address</h3>
                        <p>info@bitcointrade.com<br>
                            sales@bitcointrade.com
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <div class="bwt-footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <div class="left-text">Copyright &copy; Bitcoin Trade 2017. All Rights Reserved</div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

