{% extends 'default/nav.html.twig' %}
{% block header %}
    {% if block("custom") != '' %}
    {% else %}
        <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="bwt-header-content">
                        <div class="bwt-header-content-inner">
                            <h1>Buy Sell Bitcoins Easily</h1>
                            <h2>Bitcoin Trade is the fastest and easiest way to Buy and Sell Bitcoins. We guarantee fast transaction processing and the best bitcoin rates.</h2>
                            <a href="#about" class="btn btn-box btn-xl page-scroll">Know More About Bitcoin Trade</a>
                        </div>
                    </div>
                    <div class="bwt-click-to-bottom">
                        <a href="#about" class="scroll">
                            <i class="fa  fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endif %}
{% endblock %}

